/* 

- Mobile: 375px
- Desktop: 1440px */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* CSS rules to specify families
 */
html {

    font-size: 14px;
}

:root {
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White-color: hsl(0, 0%, 100%);
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
}

body {



    font-family: 'Montserrat', sans-serif;
    background-color: var(--Cream);
}
.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card {
    
    
height: 37.5rem;
    border: none;
    /* background-color: var(--white);    */
    padding: 0;
    background-color: var(--White-color);
    /* border: 2px solid black; */
    border-radius: 10px;
    /* margin:  auto; */
    width: 50rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;

}
.card .mobile{
    display: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 35rem;
}

.card .dekstop {

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
height: 37.5rem;
    width: 25rem;
}


.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.2rem;
    height: 37.5rem;


}

.body-text {

    color: var(--Dark-grayish-blue);

}

.sub-head {
    letter-spacing: 0.4rem;
}

.HEADING {
    font-family: 'Fraunces', serif;
    font-size: 3.2rem;
    color: var(--Very-dark-blue);
    line-height: 3rem;
}

.cost {
    display: flex;
   
    align-items: center;
    margin-bottom: 1rem;

}

.cost p {
     font-size: 3rem;
    margin: 0;
    font-family: 'Fraunces', serif;
    color: var(--Dark-cyan);
}

s {
padding-left: 1rem;
    /* font-size: 1rem; */
    color: var(--Dark-grayish-blue);
}

.btn-card {
    align-self: flex-end;
    background-color: var(--Dark-cyan);
    color: white;
}

.btn-card:hover {
    background-color: hsl(158, 45%, 24%);
    color: var(--Cream);
    border-color: hsl(158, 45%, 27%);
}
@media(max-width:1000px){
    html{
        font-size: 13px;
    }
    
}
@media(max-width:850px){
    html{
        font-size: 12px;
    }
    
}
@media(max-width:800px){
    html{
        font-size: 11px;
    }
    
}
@media(max-width:730px){
    html{
        font-size: 10px;
    }
    
}
@media(max-width:650px){
    html{
        font-size: 9px;
    }
    
}
@media(max-width:550px){
    html{
        font-size: 8px;
    }
    
}
@media(max-width:500px){
    html{
        font-size: 7px;
    }
    
}
@media(max-width:450px){
    html{
        font-size: 6px;
    }
    
}
@media(max-width:400px){
    html{
        font-size: 5px;
    }
    
}
/* //mobile  375 px*/
@media(max-width:376px){
    html{
        font-size: 9px;
    }
    .main-content{
        margin: 1rem;
    }
    .card-content{
        height: max-content;
    }
    .card .dekstop{
        display: none;

    }
    .card .mobile{
        display: block;
    }
    .card{
        flex-direction: column;
        height: max-content;
        width: 35rem;
    }
    .body-text{
        font-size: 1.4rem;
    }
    .btn-card{
        height: 4.2rem;
    }
    .cost{
        flex-direction: row;
        align-items: center;
    }
}
@media(max-width:350px){
    html{
        font-size:8px ;
    }
}
@media(max-width:300px){
    html{
        font-size:7px ;
    }
}
@media(max-width:250px){
    html{
        font-size: 6px;
    }
}
@media(max-width:225px){
    html{
        font-size: 5px;
    }
}